* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url('https://colorate.azurewebsites.net/SwatchColor/003F67');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    animation: moverArriba 1s ease-in;
    border-radius: 10pc;
}

.Menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: moverArriba 1s ease-in;
}

.Lista a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
    animation: moverArriba 1s ease-in;
}

.Menu .Lista {
    display: inline-block;
    animation: moverArriba 1s ease-in;
}

.Lista-r {
    float: right;
    animation: moverArriba 1s ease-in;
}

.Lista a:hover {
    background-color: rgb(43, 153, 153);
    animation: moverArriba 1s ease-in;
}

main {
    text-align: center;
    animation: moverArriba 1s ease-in;
}

img {
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid rgba(253, 253, 253, 0.212);
    animation: moverArriba 1s ease-in;
}

p {
    font-size: 22px;
    font-weight: 600;
    animation: moverArriba 1s ease-in;
}

.pie-pagina {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    margin-top: -100px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: moverArriba 1s ease-in;
    height: 2.7cm;
    border-radius: 10pc;
}

.container {
    color: rgb(255, 255, 255);
    animation: moverArriba 1s ease-in;
    text-align: center;
}

img{
    margin-top: -80px;
    margin-left: 7px;
    height: 100px;
    width: 100px;
}
.video {
    margin-top: -260px;
    margin-left: 760px;
    width: 9cm;
    height: 9cm;
    animation: moverArriba 1s ease-in;
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}